<?xml version="1.0"?>

<launch>
	
	<include file="$(find uol_cmp9767m_base)/launch/thorvald-sim.launch"/>
	<include file="$(find uol_cmp9767m_tutorial)/launch/move_base.launch"/>
	<node name="ros_readimg" pkg="weedspray" type="ros_readimg.py"/>
	<node name="ros_getpoints" pkg="weedspray" type="ros_getpoints.py"/>
	<node name="ros_move" pkg="weedspray" type="ros_move.py"/>
	<node type="rqt_image_view" name="rqt_image_view" pkg="rqt_image_view" />
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find weedspray)/rviz/weedspray.rviz" />
	
</launch>